.pricing {
    margin-top: 200px;
}
.pricing__cards {
    width: 800px;
    margin: auto    ;
}
@media only screen and (max-width: 767.5px) {
    .pricing {
        width: 100%;
        justify-content: center !important;
    }
    .pricing__cards {
        width: 250px;
    }
  }