.Card {
    margin-top: 200px;
}
.Card_title {
    font-weight: bold;
    font-size: 28.5271px;
    line-height: 41px;
    width: 376px;
}
.Card_text {
    font-weight: 500;
    font-size: 9.9845px;
    line-height: 14px;
    width: 335px;
}
.Card__title , .Card__text {
    font-family: Montserrat;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.142636px;
    color: #FFFFFF;
    margin: auto;
}
.Card__menu {
    width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 30px;
}
@media only screen and (max-width: 840px) {
    .Card__menu {
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        width: 100%;
        justify-content: center;
    }
  }
@media only screen and (max-width: 570px) {
    .Card__menu {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 10px;
        width: 100%;
        justify-content: center;
    }
  }
