* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#252B42 !important;
}
.container {
    width: 900px;
    margin: auto;
}
ul,li {
    list-style: none;
}
button {
    cursor: pointer;
    outline: none;
}
a {
    text-decoration: none !important;
}