@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

.nav {
    align-items: center !important;
}
.logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17.1163px !important;
    line-height: 23px;
    letter-spacing: 0.0713178px;
    color: #FFFFFF;
}
.menu__link {
    font-family: Montserrat !important;
    font-weight: 600 !important;
}
.menu__list {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 9.9845px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.142636px;
    color: #FFFFFF;
}
.login button {
    font-family: Montserrat !important;
    font-weight: bold !important;
}
.login :first-child {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 9.9845px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.142636px;
    color: #23A6F0 !important;
}
.btn-member {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 9.9845px;
    line-height: 16px;
    letter-spacing: 0.142636px;
    color: #FFFFFF;
    padding: 5px 10px;
}
@media only screen and (max-width: 540px) {
    .nav {
        display: block !important;
        width: 100% !important;
    }
    .menu_left {
        text-align: center !important;
    }
    .logo {
        margin: 0 !important;
    }
    .Icons {
        text-align: center !important;
        margin: 20px 0 0 !important;
    }
    .header_content__button {
        display: block !important;
    }
  }