.footer {
    color: white;
    width: 750px;
    margin: 200px auto 50px;
}
.footer-sm {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.footer-sm__icons *{
    color: #23A6F0;
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}
.footer-sm__icons:last-child {
    margin-right: 40px;
}
.footer-bottom {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.footer-sm__box h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 11.4109px;
    line-height: 17px;
    letter-spacing: 0.0713178px;
    color: #FFFFFF;
}
.footer-sm__box p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 9.9845px;
    line-height: 17px;
    letter-spacing: 0.142636px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 7.13178px 0px;
}